.u-header .u-image-1 {
  width: 84px;
  height: 42px;
  margin: -30px 0 0 -100px;
}

.u-header .u-logo-image-1 {
  width: 100%;
  height: 100%;
}

.u-header .u-menu-1 {
  margin: 35px -105px 0 auto;
}

@media (max-width: 1199px) {
  .u-header .u-menu-1 {
    width: auto;
  }

  .u-header .u-image-1 {
    margin-top: -36px;
  }
}

@media (max-width: 505px) {
  .u-header .u-menu-1 {
    width: auto;
  }

  .u-header .u-image-1 {
    /*margin-top: -36px;*/
      width: 84px;
  height: 42px;
  margin: 0 0 0 0;
  }
}

