 .success {
        background-color: seagreen;
        color: white;
        text-align:center;
        font-size: medium;
    }
 .warning {
        background-color: #dda20a;
        color: white;
        text-align:center;
        font-size: medium;
    }
  .info {
        background-color: indianred;
        color: white;
        text-align:center;
        font-size: medium;
    }