{% extends 'base_login.html' %}
{% load static %}

    {% block script %}
            <link rel="stylesheet" href="{% static 'management/css/password-reset.css' %}" media="screen">
    {% endblock %}
{% block logincontent %}
   <section class="u-clearfix u-grey-10 u-section-6" id="carousel_f727">
      <div class="custom-expanded u-container-style u-group u-palette-1-dark-1 u-preserve-proportions u-shape-rectangle u-group-1">
        <div class="u-container-layout u-container-layout-1">
          <div class="u-align-center u-border-20 u-border-no-left u-border-no-right u-border-no-top u-border-palette-1-dark-1 u-container-align-center u-container-style u-group u-radius u-shape-round u-white u-group-2">
            <div class="u-container-layout u-container-layout-2">
              <h2 class="u-text u-text-default-md u-text-default-sm u-text-default-xs u-text-palette-1-dark-1 u-text-1">
                <span style="font-size: 2.5rem;">Password Reset Complete</span>
              </h2>
              <h6 class="u-text u-text-grey-80 u-text-2"> Your password has been successfully reset. You can now log in with your new password.</h6>
              <a href="{% url 'management:login' %}" class="u-active-none u-border-2 u-border-no-left u-border-no-right u-border-no-top u-border-palette-1-base u-btn u-btn-rectangle u-button-style u-hover-none u-none u-btn-1">Go to Login Page </a>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}


   <!-- <section class="u-clearfix u-grey-10 u-valign-top-lg u-valign-top-md u-valign-top-sm u-valign-top-xs u-section-2" id="sec-eed8">
      <div class="custom-expanded u-container-style u-group u-palette-1-dark-1 u-preserve-proportions u-shape-rectangle u-group-1">
        <div class="u-container-layout u-container-layout-1"></div>
      </div>
      <div class="u-align-center u-border-20 u-border-no-left u-border-no-right u-border-no-top u-border-palette-1-dark-1 u-container-style u-group u-radius u-shape-round u-white u-group-2">
        <div class="u-container-layout u-container-layout-2">
          <h2 class="u-text u-text-palette-1-dark-1 u-text-1">
            <span style="font-size: 2.5rem;">E-LabNoteBook </span>
          </h2>
            <br><br><br>
          <div class="u-form u-form-1">
            <h4>Password reset complete</h4>
              <p>Your password has been successfully reset. You can now log in with your new password.</p>
              <a href="{% url 'management:login' %}">Go to login page</a>
          </div>
        </div>
      </div>
    </section>


    <footer class="u-align-center u-clearfix u-footer u-grey-80 u-footer" id="sec-0bd2"><div class="u-clearfix u-sheet u-sheet-1">
        <p class="u-small-text u-text u-text-variant u-text-1">E-LabNoteBook || 2024</p>
      </div></footer>

</body></html>-->









<!--<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h2>Login</h2>
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <form method="POST" action="{% url 'management:login' %}">
        {% csrf_token %}
        <label for="username">Username:</label>
        <input type="text" name="username" id="username" required>
        <br>
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" required>
        <br>
        <button type="submit">Login</button>
    </form>
</body>
</html>-->