{% extends 'base_login.html' %}
{% load static %}

    {% block script %}
        <link rel="stylesheet" href="{% static 'management/css/register.css' %}" media="screen">
    {% endblock %}
  {% block logincontent %}
      <section class="u-clearfix u-container-align-center u-grey-10 u-section-1" id="carousel_2cbd">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <div class="data-layout-selected u-clearfix u-expanded-width u-gutter-22 u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-row">
              <div class="u-container-style u-image u-layout-cell u-size-30-lg u-size-30-xl u-size-60-md u-size-60-sm u-size-60-xs u-image-1" data-animation-name="flipIn" data-animation-duration="1500" data-animation-delay="0" data-animation-direction="X" data-image-width="364" data-image-height="364">
                <div class="u-container-layout u-valign-bottom u-container-layout-1"></div>
              </div>
              <div class="u-container-style u-layout-cell u-size-30-lg u-size-30-xl u-size-60-md u-size-60-sm u-size-60-xs u-layout-cell-2" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
                <div class="u-container-layout u-valign-top-md u-valign-top-sm u-valign-top-xs u-container-layout-2">
                <div class="u-form u-form-1 u-form-group u-align-center">
                    <h2 class="u-text u-text-default-md u-text-default-sm u-text-default-xs u-text-palette-1-dark-1 u-text-1">
                            <span style="font-size: 2.5rem;color: #364c7e!important;"><b>IntegriLAB</b></span>
                    </h2><br>
                  <h3 class="u-text u-text-default-sm u-text-default-sm u-text-default-xs u-text-1" style="font-size: 1.8rem;"> Create an account</h3>
                </div>
                  <div class="custom-expanded u-expanded-width-lg u-expanded-width-xl u-form u-form-1">
                      <form method="post" class="u-clearfix u-form-spacing-10 u-form-vertical u-inner-form" name="form-1" style="padding: 10px;" action="{% url 'management:registration' %}">
                          {% csrf_token %}
                          <div class="u-form-group u-form-name u-form-partition-factor-2 u-label-none u-form-group-1">
                              <input type="text" name="{{ form.first_name.name }}" value="{{ form.first_name.value|default_if_none:'' }}" placeholder="{{ form.first_name.field.widget.attrs.placeholder }}" class="u-input u-input-rectangle form-control" required/>
                              {% for error in form.firstname.errors %}
                                  <div class="error">{{ error }}</div>
                              {% endfor %}
                          </div>
                          <div class="u-form-group u-form-name u-form-partition-factor-2 u-label-none u-form-group-2">
                              <input type="text" name="{{ form.last_name.name }}" value="{{ form.last_name.value|default_if_none:'' }}" placeholder="{{ form.last_name.field.widget.attrs.placeholder }}" class="u-input u-input-rectangle form-control" required/>
                              {% for error in form.lastname.errors %}
                                  <div class="error">{{ error }}</div>
                              {% endfor %}
                          </div>
                          <div class="u-form-group u-form-name u-label-none">
                              <input type="text" name="{{ form.institution.name }}" value="{{ form.institution.value|default_if_none:'' }}" placeholder="{{ form.institution.field.widget.attrs.placeholder }}" class="u-input u-input-rectangle form-control" required/>
                              {% for error in form.institution.errors %}
                                  <div class="error">{{ error }}</div>
                              {% endfor %}
                          </div>
                          <div class="u-form-group u-form-name u-label-none">
                              <input type="text" name="{{ form.department.name }}" value="{{ form.department.value|default_if_none:'' }}" placeholder="{{ form.department.field.widget.attrs.placeholder }}" class="u-input u-input-rectangle form-control" required/>
                              {% for error in form.department.errors %}
                                  <div class="error">{{ error }}</div>
                              {% endfor %}
                          </div>
                          <div class="u-form-group u-form-name u-form-partition-factor-2 u-label-none u-form-group-5">
                              <input type="text" name="{{ form.designation.name }}" value="{{ form.designation.value|default_if_none:'' }}" placeholder="{{ form.designation.field.widget.attrs.placeholder }}" class="u-input u-input-rectangle form-control" required/>
                              {% for error in form.designation.errors %}
                                  <div class="error">{{ error }}</div>
                              {% endfor %}
                          </div>
                          <div class="u-form-group u-form-name u-form-partition-factor-2 u-label-none u-form-group-6">
                              <input type="email" name="{{ form.email.name }}" value="{{ form.email.value|default_if_none:'' }}" placeholder="{{ form.email.field.widget.attrs.placeholder }}" class="u-input u-input-rectangle form-control" required/>
                              {% for error in form.email.errors %}
                                  <div class="error">{{ error }}</div>
                              {% endfor %}
                          </div>
                          <div class="u-form-group u-form-name u-form-partition-factor-2 u-label-none u-form-group-7">
                              <input type="password" name="{{ form.password1.name }}" value="{{ form.password1.value|default_if_none:'' }}" placeholder="Password" class="u-input u-input-rectangle form-control" required/>
                              {% for error in form.password1.errors %}
                                  <div class="error">{{ error }}</div>
                              {% endfor %}
                          </div>
                          <div class="u-form-group u-form-name u-form-partition-factor-2 u-label-none u-form-group-8">
                              <input type="password" name="{{ form.password2.name }}" value="{{ form.password2.value|default_if_none:'' }}" placeholder="Confirm Password" class="u-input u-input-rectangle form-control" required/>
                              {% for error in form.password2.errors %}
                                  <div class="error">{{ error }}</div>
                              {% endfor %}
                          </div>
                          <div class="u-form-checkbox u-form-group u-label-none u-form-group-9">
                              <input type="checkbox" id="checkbox-6c77" name="{{ form.selected.name }}" value="{{ form.selected.value}}" class="u-field-input" required="required" accept="I read and accept the Terms and Conditions">
                              <label for="checkbox-6c77" class="u-field-label u-text-grey-50"> I read and accept the <a class="u-underline" href="{% url 'management:terms_and_conditions' %}" target="_blank"><span class="u-font-size">terms and conditions</span></a></label>
                          </div>
                          <div class="u-align-left u-form-group u-form-submit u-label-none">
                              <button type="submit" class="u-border-none u-btn u-btn-submit u-button-style u-palette-1-dark-1 u-btn-1" style="background-color: #364c7e!important;">Submit</button>
                          </div>
                      </form>
                      <div class="u-form-group u-form-name u-label-none">
                      {% if messages %}
                          {% for message in messages %}
                              {% if message.tags == 'success' %}
                              <p class="u-form-send-message u-form-send-success u-align-center">{{ message }}</p>
                              {% elif message.tags == 'error' %}
                              <p class="u-form-send-message u-form-send-error u-align-center">{{ message }}</p>
                              {% endif %}
                          {% endfor %}
                      {% endif %}
                  </div>
                  <div class="u-form-group u-align-center">
                      <span class="u-align-center">Already have account? <a href="{% url 'management:login' %}"><span class="u-font-size">Login</span></a></></span>
                  </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  {% endblock %}

<!--<!DOCTYPE html>
<html style="font-size: 16px;" lang="en"><head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'management/css/nicepage.css' %}" media="screen">
    <script class="u-script" type="text/javascript" src="{% static 'management/js/jquery.js' %}" defer=""></script>
    <script class="u-script" type="text/javascript" src="{% static 'management/js/nicepage.js' %}" defer=""></script>
    <meta name="generator" content="Nicepage 6.20.0, nicepage.com">
    <meta name="referrer" content="origin">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">








    <script type="application/ld+json">{
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": "WebSite6279795",
		"logo": "images/verilab-light.png"
}</script>
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="Home">
    <meta property="og:description" content="">
    <meta property="og:type" content="website">
  <meta data-intl-tel-input-cdn-path="intlTelInput/"></head>
  <body data-path-to-root="./" data-include-products="false" class="u-body u-xl-mode" data-lang="en">
  <header class="u-clearfix u-header u-header" id="sec-5989" data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction=""><div class="u-clearfix u-sheet u-sheet-1">
        <nav class="u-menu u-menu-dropdown u-offcanvas u-menu-1">
          <div class="menu-collapse" style="font-size: 1rem; letter-spacing: 0px;">
            <a class="u-button-style u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-top-bottom-menu-spacing u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="#">
              <svg class="u-svg-link" viewBox="0 0 24 24"><use xlink:href="#menu-hamburger"></use></svg>
              <svg class="u-svg-content" version="1.1" id="menu-hamburger" viewBox="0 0 16 16" x="0px" y="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg"><g><rect y="1" width="16" height="2"></rect><rect y="7" width="16" height="2"></rect><rect y="13" width="16" height="2"></rect>
</g></svg>
            </a>
          </div>
          <div class="u-custom-menu u-nav-container">
            <ul class="u-nav u-spacing-2 u-unstyled u-nav-1">
                <li class="u-nav-item"><a class="u-active-palette-1-light-3 u-button-style u-hover-grey-10 u-nav-link u-text-active-grey-90 u-text-hover-grey-90" style="padding: 10px 20px;" href="{% url 'management:login' %}">Log In</a></li>
                <li class="u-nav-item"><a class="u-active-palette-1-light-3 u-button-style u-hover-grey-10 u-nav-link u-text-active-grey-90 u-text-hover-grey-90" style="padding: 10px 20px;" href="{% url 'management:registration' %}" >Sign Up</a></li>
            </ul>
          </div>
          <div class="u-custom-menu u-nav-container-collapse">
            <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
              <div class="u-inner-container-layout u-sidenav-overflow">
                <div class="u-menu-close"></div>
                <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-4">
                    <li class="u-nav-item"><a class="u-button-style u-nav-link" href="{% url 'management:login' %}">Log In</a></li>
                    <li class="u-nav-item"><a class="u-button-style u-nav-link" href="{% url 'management:registration' %}">Sign Up</a></li>
                </ul>
              </div>
            </div>
            <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
          </div>
        </nav>
        <a href="#" class="u-image u-logo u-image-1" data-image-width="353" data-image-height="129">
          <img src="{% static 'management/images/verilab-light.png' %}" class="u-logo-image u-logo-image-1">
        </a>
      </div></header>
    <section class="u-clearfix u-container-align-center u-grey-10 u-section-1" id="carousel_2cbd">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <div class="data-layout-selected u-clearfix u-expanded-width u-gutter-22 u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-row">
              <div class="u-container-style u-image u-layout-cell u-size-30-lg u-size-30-xl u-size-60-md u-size-60-sm u-size-60-xs u-image-1" data-animation-name="flipIn" data-animation-duration="1500" data-animation-delay="0" data-animation-direction="X" data-image-width="364" data-image-height="364">
                <div class="u-container-layout u-valign-bottom u-container-layout-1"></div>
              </div>
              <div class="u-container-style u-layout-cell u-size-30-lg u-size-30-xl u-size-60-md u-size-60-sm u-size-60-xs u-layout-cell-2" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
                <div class="u-container-layout u-valign-top-md u-valign-top-sm u-valign-top-xs u-container-layout-2">
                  <h3 class="u-align-left u-text u-text-default u-text-1"> Create an account</h3>
                  <div class="custom-expanded u-expanded-width-lg u-expanded-width-xl u-form u-form-1">
                    <form action="https://forms.nicepagesrv.com/v2/form/process" class="u-clearfix u-form-spacing-10 u-form-vertical u-inner-form" source="email" name="form-2" style="padding: 10px;">
                      <div class="u-form-group u-form-name u-form-partition-factor-2 u-label-none u-form-group-1">
                        <label for="name-420b" class="u-label">First Name</label>
                        <input type="text" placeholder="First Name" id="name-420b" name="name-1" class="u-input u-input-rectangle" required="">
                      </div>
                      <div class="u-form-group u-form-name u-form-partition-factor-2 u-label-none u-form-group-2">
                        <label for="name-420b" class="u-label">Last Name</label>
                        <input type="text" placeholder="Last Name" id="name-420b" name="name-2" class="u-input u-input-rectangle" required="">
                      </div>
                      <div class="u-form-group u-label-none">
                        <label for="email-fc5d" class="u-label">Email</label>
                        <input type="text" placeholder="Organization" id="email-fc5d" name="email" class="u-input u-input-rectangle" required="required">
                      </div>
                      <div class="u-form-group u-label-none u-form-group-4">
                        <label for="text-eddb" class="u-label">Input</label>
                        <input type="text" placeholder="Department" id="text-eddb" name="text" class="u-input u-input-rectangle">
                      </div>
                      <div class="u-form-group u-form-name u-form-partition-factor-2 u-label-none u-form-group-5">
                        <label for="name-b03f" class="u-label">First Name</label>
                        <input type="text" placeholder="Designation" id="name-b03f" name="name" class="u-input u-input-rectangle" required="">
                      </div>
                      <div class="u-form-email u-form-group u-form-partition-factor-2 u-label-none u-form-group-6">
                        <label for="name-b03f" class="u-label">Last Name</label>
                        <input type="email" placeholder="Email" id="name-b03f" name="name-3" class="u-input u-input-rectangle" required="required">
                      </div>
                      <div class="u-form-group u-form-name u-form-partition-factor-2 u-label-none u-form-group-7">
                        <label for="name-cad4" class="u-label">First Name</label>
                        <input type="text" placeholder="Password" id="name-cad4" name="name-4" class="u-input u-input-rectangle" required="">
                      </div>
                      <div class="u-form-group u-form-name u-form-partition-factor-2 u-label-none u-form-group-8">
                        <label for="name-cad4" class="u-label">Last Name</label>
                        <input type="text" placeholder="Confirm Password" id="name-cad4" name="name-5" class="u-input u-input-rectangle" required="">
                      </div>
                      <div class="u-form-checkbox u-form-group u-label-none u-form-group-9">
                        <input type="checkbox" id="checkbox-6c77" name="Checkbox" value="On" class="u-field-input" required="required" accept="I read and accept the Terms and Conditions">
                        <label for="checkbox-6c77" class="u-field-label u-text-grey-50"> I read and accept the Terms and Conditions</label>
                      </div>
                      <div class="u-align-left u-form-group u-form-submit u-label-none">
                        <a href="#" class="u-border-none u-btn u-btn-submit u-button-style u-palette-1-dark-1 u-btn-1">Submit</a>
                        <input type="submit" value="submit" class="u-form-control-hidden">
                      </div>
                      <div class="u-form-send-message u-form-send-success"> Thank you! Your message has been sent. </div>
                      <div class="u-form-send-error u-form-send-message"> Unable to send your message. Please fix errors then try again. </div>
                      <input type="hidden" value="" name="recaptchaResponse">
                      <input type="hidden" name="formServices" value="455447bb-edba-9a85-804a-d0904c74e284">
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


    <footer class="u-align-center u-clearfix u-footer u-grey-80 u-footer" id="sec-0bd2"><div class="u-clearfix u-sheet u-sheet-1">
        <p class="u-small-text u-text u-text-variant u-text-1">E-LabNoteBook || 2024</p>
      </div></footer>

</body></html>-->