.u-section-7 {
  min-height: 700px;
}

.u-section-7 .u-layout-wrap-1 {
  margin: 0;
}

.u-section-7 .u-layout-cell-1 {
  background-image: none;
  min-height: 854px;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px;
}

.u-section-7 .u-list-1 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-7 .u-repeater-1 {
  grid-auto-columns: 100%;
  grid-template-columns: 100%;
  grid-gap: 10px;
  min-height: 300px;
}

.u-section-7 .u-list-item-1 {
  background-image: none;
}

.u-section-7 .u-container-layout-2 {
  padding: 10px;
}

.u-section-7 .u-text-1 {
  font-size: 1rem;
  width: auto;
  margin: 0 -10px 0 0;
}

.u-section-7 .u-icon-1 {
  padding: 2px;
}

.u-section-7 .u-list-item-2 {
  background-image: none;
}

.u-section-7 .u-container-layout-3 {
  padding: 10px;
}

.u-section-7 .u-text-2 {
  font-size: 1rem;
  width: auto;
  margin: 0 -10px 0 0;
}

.u-section-7 .u-icon-2 {
  padding: 2px;
}

.u-section-7 .u-list-item-3 {
  background-image: none;
}

.u-section-7 .u-container-layout-4 {
  padding: 10px;
}

.u-section-7 .u-text-3 {
  font-size: 1rem;
  width: auto;
  margin: 0 -10px 0 0;
}

.u-section-7 .u-icon-3 {
  color: rgb(255, 255, 255) !important;
  padding: 2px;
}

.u-section-7 .u-list-item-4 {
  background-image: none;
}

.u-section-7 .u-container-layout-5 {
  padding: 10px;
}

.u-section-7 .u-text-4 {
  font-size: 1rem;
  width: auto;
  margin: 0 -10px 0 0;
}

.u-section-7 .u-list-item-5 {
  background-image: none;
}

.u-section-7 .u-container-layout-6 {
  padding: 10px;
}

.u-section-7 .u-text-5 {
  font-size: 1rem;
  width: auto;
  margin: 0 -10px 0 0;
}

.u-section-7 .u-icon-5 {
  padding: 2px;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 854px;
}

.u-section-7 .u-container-layout-7 {
  padding: 30px 0;
}

.u-section-7 .u-text-6 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-7 .u-list-2 {
  width: 812px;
  grid-template-rows: repeat(3, auto);
  margin: 31px auto 0;
}

.u-section-7 .u-repeater-2 {
  grid-auto-columns: 100%;
  grid-template-columns: repeat(1, 100%);
  min-height: 680px;
  grid-gap: 0px;
}

.u-section-7 .u-container-layout-8 {
  padding: 25px 30px;
}

.u-section-7 .u-icon-6 {
  height: 65px;
  width: 65px;
  background-image: none;
  color: rgb(0, 0, 0) !important;
  margin: 0 auto 0 0;
  padding: 15px;
}

.u-section-7 .u-text-7 {
  font-weight: 700;
  margin: -65px auto 0 87px;
}

.u-section-7 .u-text-8 {
  margin: 14px 2px 0 85px;
}

.u-section-7 .u-container-layout-9 {
  padding: 25px 30px;
}

.u-section-7 .u-icon-7 {
  height: 65px;
  width: 65px;
  background-image: none;
  color: rgb(0, 0, 0) !important;
  margin: 0 auto 0 0;
  padding: 15px;
}

.u-section-7 .u-text-9 {
  font-weight: 700;
  margin: -65px auto 0 87px;
}

.u-section-7 .u-text-10 {
  margin: 14px 2px 0 85px;
}

.u-section-7 .u-container-layout-10 {
  padding: 25px 30px;
}

.u-section-7 .u-icon-8 {
  height: 65px;
  width: 65px;
  background-image: none;
  color: rgb(0, 0, 0) !important;
  margin: 0 auto 0 0;
  padding: 15px;
}

.u-section-7 .u-text-11 {
  font-weight: 700;
  margin: -65px auto 0 87px;
}

.u-section-7 .u-text-12 {
  margin: 14px 2px 0 85px;
}

.u-section-7 .u-container-layout-11 {
  padding: 25px 30px;
}

.u-section-7 .u-icon-9 {
  height: 65px;
  width: 65px;
  background-image: none;
  color: rgb(0, 0, 0) !important;
  margin: 0 auto 0 0;
  padding: 15px;
}

.u-section-7 .u-text-13 {
  font-weight: 700;
  margin: -65px auto 0 87px;
}

.u-section-7 .u-text-14 {
  margin: 14px 2px 0 85px;
}

.u-section-7 .u-container-layout-12 {
  padding: 25px 30px;
}

.u-section-7 .u-icon-10 {
  height: 65px;
  width: 65px;
  background-image: none;
  color: rgb(0, 0, 0) !important;
  margin: 0 auto 0 0;
  padding: 15px;
}

.u-section-7 .u-text-15 {
  font-weight: 700;
  margin: -65px auto 0 87px;
}

.u-section-7 .u-text-16 {
  margin: 14px 2px 0 85px;
}

@media (max-width: 1199px) {
   .u-section-7 {
    min-height: 585px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 700px;
  }

  .u-section-7 .u-text-1 {
    margin-right: 0;
  }

  .u-section-7 .u-text-2 {
    margin-right: 0;
  }

  .u-section-7 .u-text-3 {
    margin-right: 0;
  }

  .u-section-7 .u-text-4 {
    margin-right: 0;
  }

  .u-section-7 .u-text-5 {
    margin-right: 0;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 704px;
  }

  .u-section-7 .u-list-2 {
    width: 768px;
  }

  .u-section-7 .u-repeater-2 {
    grid-template-columns: 100%;
  }

  .u-section-7 .u-icon-6 {
    margin-right: 643px;
  }

  .u-section-7 .u-text-7 {
    width: auto;
    margin-right: 0;
    margin-left: 86px;
  }

  .u-section-7 .u-text-8 {
    width: auto;
    margin-top: 5px;
    margin-right: 0;
    margin-left: 86px;
  }

  .u-section-7 .u-icon-7 {
    margin-right: 643px;
  }

  .u-section-7 .u-text-9 {
    width: auto;
    margin-right: 0;
    margin-left: 86px;
  }

  .u-section-7 .u-text-10 {
    width: auto;
    margin-top: 5px;
    margin-right: 0;
    margin-left: 86px;
  }

  .u-section-7 .u-icon-8 {
    margin-right: 643px;
  }

  .u-section-7 .u-text-11 {
    width: auto;
    margin-right: 0;
    margin-left: 86px;
  }

  .u-section-7 .u-text-12 {
    width: auto;
    margin-top: 5px;
    margin-right: 0;
    margin-left: 86px;
  }

  .u-section-7 .u-icon-9 {
    margin-right: 643px;
  }

  .u-section-7 .u-text-13 {
    width: auto;
    margin-right: 0;
    margin-left: 86px;
  }

  .u-section-7 .u-text-14 {
    width: auto;
    margin-top: 5px;
    margin-right: 0;
    margin-left: 86px;
  }

  .u-section-7 .u-icon-10 {
    margin-right: 643px;
  }

  .u-section-7 .u-text-15 {
    width: auto;
    margin-right: 0;
    margin-left: 86px;
  }

  .u-section-7 .u-text-16 {
    width: auto;
    margin-top: 5px;
    margin-right: 0;
    margin-left: 86px;
  }
}

@media (max-width: 991px) {
   .u-section-7 {
    min-height: 142px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 1px;
    padding-right: 1px;
  }

  .u-section-7 .u-repeater-1 {
    min-height: 315px;
  }

  .u-section-7 .u-text-1 {
    font-size: 0.875rem;
  }

  .u-section-7 .u-text-2 {
    font-size: 0.875rem;
  }

  .u-section-7 .u-text-3 {
    font-size: 0.875rem;
  }

  .u-section-7 .u-text-4 {
    font-size: 0.875rem;
  }

  .u-section-7 .u-text-5 {
    font-size: 0.875rem;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-7 .u-container-layout-7 {
    padding-top: 29px;
    padding-bottom: 29px;
  }

  .u-section-7 .u-list-2 {
    width: 588px;
  }

  .u-section-7 .u-icon-6 {
    margin-right: 480px;
  }

  .u-section-7 .u-text-7 {
    margin-left: 0;
  }

  .u-section-7 .u-text-8 {
    margin-left: 0;
  }

  .u-section-7 .u-icon-7 {
    margin-right: 480px;
  }

  .u-section-7 .u-text-9 {
    margin-left: 0;
  }

  .u-section-7 .u-text-10 {
    margin-left: 0;
  }

  .u-section-7 .u-icon-8 {
    margin-right: 480px;
  }

  .u-section-7 .u-text-11 {
    margin-left: 0;
  }

  .u-section-7 .u-text-12 {
    margin-left: 0;
  }

  .u-section-7 .u-icon-9 {
    margin-right: 480px;
  }

  .u-section-7 .u-text-13 {
    margin-left: 0;
  }

  .u-section-7 .u-text-14 {
    margin-left: 0;
  }

  .u-section-7 .u-icon-10 {
    margin-right: 480px;
  }

  .u-section-7 .u-text-15 {
    margin-left: 0;
  }

  .u-section-7 .u-text-16 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-list-2 {
    width: 540px;
  }

  .u-section-7 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-icon-6 {
    margin-right: 473px;
  }

  .u-section-7 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-icon-7 {
    margin-right: 473px;
  }

  .u-section-7 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-icon-8 {
    margin-right: 473px;
  }

  .u-section-7 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-icon-9 {
    margin-right: 473px;
  }

  .u-section-7 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-icon-10 {
    margin-right: 473px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-list-2 {
    margin-top: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-icon-6 {
    margin-right: 291px;
  }

  .u-section-7 .u-icon-7 {
    margin-right: 291px;
  }

  .u-section-7 .u-icon-8 {
    margin-right: 291px;
  }

  .u-section-7 .u-icon-9 {
    margin-right: 291px;
  }

  .u-section-7 .u-icon-10 {
    margin-right: 291px;
  }
}