.u-section-1 a{
  text-decoration: none;!important;
}

.u-section-1 {
  min-height: 780px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  background-image: none;
  min-height: 780px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-list-1 {
  margin-bottom: 0;
  margin-top: 80px;
}

.u-section-1 .u-repeater-1 {
  grid-auto-columns: 100%;
  grid-template-columns: 100%;
  grid-gap: 10px;
  min-height: 300px;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 10px;
}

.u-section-1 .u-text-1 {
  font-size: 1rem;
  width: auto;
  margin: 0 -10px 0 0;
}

.u-section-1 .u-icon-1 {
  padding: 2px;
}

.u-section-1 .u-list-item-2 {
  background-image: none;
}

.u-section-1 .u-container-layout-3 {
  padding: 10px;
}

.u-section-1 .u-text-2 {
  font-size: 1rem;
  width: auto;
  margin: 0 -10px 0 0;
}

.u-section-1 .u-icon-2 {
  padding: 2px;
}

.u-section-1 .u-list-item-3 {
  background-image: none;
}

.u-section-1 .u-container-layout-4 {
  padding: 10px;
}

.u-section-1 .u-text-3 {
  font-size: 1rem;
  width: auto;
  margin: 0 -10px 0 0;
}

.u-section-1 .u-icon-3 {
  color: rgb(255, 255, 255) !important;
  padding: 2px;
}

.u-section-1 .u-list-item-4 {
  background-image: none;
}

.u-section-1 .u-container-layout-5 {
  padding: 10px;
}

.u-section-1 .u-text-4 {
  font-size: 1rem;
  width: auto;
  margin: 0 -10px 0 0;
}

.u-section-1 .u-list-item-5 {
  background-image: none;
}

.u-section-1 .u-container-layout-6 {
  padding: 10px;
}

.u-section-1 .u-text-5 {
  font-size: 1rem;
  width: auto;
  margin: 0 -10px 0 0;
}

.u-section-1 .u-icon-5 {
  padding: 2px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 780px;
}

.u-section-1 .u-container-layout-7 {
  padding: 30px 0;
}

.u-section-1 .u-text-6 {
  font-weight: 400;
  margin: 101px 48px 0;
}

.u-section-1 .u-btn-1 {
  --radius: 3px;
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  background-image: none;
  margin: -44px 64px 0 auto;
  padding: 7px 27px 7px 26px;
}

.u-section-1 .u-icon-6 {
  font-size: 0.7em;
}

.u-section-1 .u-text-7 {
  margin: 15px 48px 0;
}

.u-section-1 .u-btn-2 {
  --radius: 3px;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 21px 837px 0 48px;
  padding: 7px 26px 8px 25px;
}

.u-section-1 .u-icon-7 {
  font-size: 0.7em;
}

.u-section-1 .u-search-1 {
  height: auto;
  width: 200px;
  min-height: 38px;
  margin: -39px 48px 0 765px;
}

.u-section-1 .u-table-1 {
  width: 917px;
  margin: 15px 48px 0;
}

.u-section-1 .u-table-header-1 {
  background-image: none;
  font-weight: 700;
  text-transform: uppercase;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 657px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 700px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 729px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-top: 100px;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -29px;
    margin-right: 41px;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-top: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 32px;
    margin-right: 673px;
  }

  .u-section-1 .u-search-1 {
    margin-right: 40px;
    margin-left: 609px;
  }

  .u-section-1 .u-table-1 {
    width: 768px;
    margin-top: 21px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 180px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 1px;
    padding-right: 1px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 315px;
  }

  .u-section-1 .u-text-1 {
    font-size: 0.875rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 0.875rem;
  }

  .u-section-1 .u-text-3 {
    font-size: 0.875rem;
  }

  .u-section-1 .u-text-4 {
    font-size: 0.875rem;
  }

  .u-section-1 .u-text-5 {
    font-size: 0.875rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-top: 29px;
    padding-bottom: 29px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 1px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 174px;
    margin-right: 0;
  }

  .u-section-1 .u-text-7 {
    margin-top: -203px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 30px;
    margin-right: 528px;
    margin-left: 14px;
  }

  .u-section-1 .u-search-1 {
    width: 119px;
    min-height: 37px;
    margin-top: -38px;
    margin-right: 14px;
    margin-left: 536px;
  }

  .u-section-1 .u-table-1 {
    width: 642px;
    margin-top: 14px;
    margin-right: 14px;
    margin-left: 14px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-btn-1 {
    margin-top: 464px;
  }

  .u-section-1 .u-text-7 {
    margin-top: -493px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 494px;
  }

  .u-section-1 .u-search-1 {
    width: 100px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-table-1 {
    width: 82px;
    margin-right: 0;
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-btn-2 {
    margin-right: 294px;
  }

  .u-section-1 .u-table-1 {
    margin-right: auto;
  }
}

/*.u-section-4 {
  min-height: 780px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-layout-cell-1 {
  background-image: none;
  min-height: 700px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-list-1 {
  margin-bottom: 0;
  margin-top: 80px;
}

.u-section-4 .u-repeater-1 {
  grid-auto-columns: 100%;
  grid-template-columns: 100%;
  grid-gap: 10px;
  min-height: 300px;
}

.u-section-4 .u-list-item-1 {
  background-image: none;
}

.u-section-4 .u-container-layout-2 {
  padding: 10px;
}

.u-section-4 .u-text-1 {
  font-size: 1rem;
  margin: 0;
}

.u-section-4 .u-icon-1 {
  margin-right: 1px;
  padding: 2px;
}

.u-section-4 .u-list-item-2 {
  background-image: none;
}

.u-section-4 .u-container-layout-3 {
  padding: 10px;
}

.u-section-4 .u-text-2 {
  font-size: 1rem;
  margin: 0;
}

.u-section-4 .u-icon-2 {
  margin-right: 1px;
  padding: 2px;
}

.u-section-4 .u-list-item-3 {
  background-image: none;
}

.u-section-4 .u-container-layout-4 {
  padding: 10px;
}

.u-section-4 .u-text-3 {
  font-size: 1rem;
  margin: 0;
}

.u-section-4 .u-icon-3 {
  color: rgb(255, 255, 255) !important;
  margin-right: 1px;
  padding: 2px;
}

.u-section-4 .u-list-item-4 {
  background-image: none;
}

.u-section-4 .u-container-layout-5 {
  padding: 10px;
}

.u-section-4 .u-text-4 {
  font-size: 1rem;
  margin: 0;
}

.u-section-4 .u-icon-4 {
  margin-right: 1px;
  padding: 2px;
}

.u-section-4 .u-list-item-5 {
  background-image: none;
}

.u-section-4 .u-container-layout-6 {
  padding: 10px;
}

.u-section-4 .u-text-5 {
  font-size: 1rem;
  margin: 0;
}

.u-section-4 .u-icon-5 {
  margin-right: 1px;
  padding: 2px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 718px;
}

.u-section-4 .u-container-layout-7 {
  padding: 30px 0;
}

.u-section-4 .u-text-6 {
  margin: 78px auto 0 48px;
}

.u-section-4 .u-text-7 {
  margin: 4px auto 0 47px;
}

.u-section-4 .u-btn-1 {
  --radius: 3px;
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  background-image: none;
  margin: -53px 48px 0 auto;
  padding: 7px 27px 7px 26px;
}

.u-section-4 .u-icon-6 {
  font-size: 0.7em;
}

.u-section-4 .u-table-1 {
  width: 917px;
  margin: 48px auto 0;
}

.u-section-4 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
  text-transform: uppercase;
}

.u-section-4 .u-table-body-1 {
  background-image: none;
}

.u-section-4 .u-table-cell-4 {
  border-style: dotted;
}

.u-section-4 .u-table-cell-5 {
  border-style: dotted;
}

.u-section-4 .u-table-cell-6 {
  border-style: dotted;
}

.u-section-4 .u-table-cell-7 {
  border-style: dotted;
}

.u-section-4 .u-table-cell-8 {
  border-style: dotted;
}

.u-section-4 .u-table-cell-9 {
  border-style: dotted;
}

.u-section-4 .u-table-cell-10 {
  border-style: dotted;
}

.u-section-4 .u-table-cell-11 {
  border-style: dotted;
}

.u-section-4 .u-table-cell-12 {
  border-style: dotted;
}

.u-section-4 .u-table-cell-13 {
  border-style: dotted;
}

.u-section-4 .u-table-cell-14 {
  border-style: dotted;
}

.u-section-4 .u-table-cell-15 {
  border-style: dotted;
}

.u-section-4 .u-table-cell-16 {
  border-style: dotted;
}

.u-section-4 .u-table-cell-17 {
  border-style: dotted;
}

.u-section-4 .u-table-cell-18 {
  border-style: dotted;
}

.u-section-4 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: -355px 188px 0 auto;
  padding: 10px 24px;
}

.u-section-4 .u-icon-7 {
  font-size: 1.1876em;
}

.u-section-4 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 20px 188px 0 auto;
  padding: 10px 24px;
}

.u-section-4 .u-icon-8 {
  font-size: 1.1876em;
}

.u-section-4 .u-btn-4 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 26px 188px 0 auto;
  padding: 10px 24px;
}

.u-section-4 .u-icon-9 {
  font-size: 1.1876em;
}

.u-section-4 .u-btn-5 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 16px 188px 0 auto;
  padding: 10px 24px;
}

.u-section-4 .u-icon-10 {
  font-size: 1.1876em;
}

.u-section-4 .u-btn-6 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 20px 188px 0 auto;
  padding: 10px 24px;
}

.u-section-4 .u-icon-11 {
  font-size: 1.1876em;
}

.u-section-4 .u-btn-7 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: -263px 102px 0 auto;
  padding: 10px 24px;
}

.u-section-4 .u-icon-12 {
  font-size: 1.1876em;
}

.u-section-4 .u-btn-8 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 16px 102px 0 auto;
  padding: 10px 24px;
}

.u-section-4 .u-icon-13 {
  font-size: 1.1876em;
}

.u-section-4 .u-btn-9 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 26px 102px 0 auto;
  padding: 10px 24px;
}

.u-section-4 .u-icon-14 {
  font-size: 1.1876em;
}

.u-section-4 .u-btn-10 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 20px 102px 0 auto;
  padding: 10px 25px 10px 23px;
}

.u-section-4 .u-icon-15 {
  font-size: 1.1876em;
}

.u-section-4 .u-btn-11 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: -334px 102px 0 auto;
  padding: 10px 24px;
}

.u-section-4 .u-icon-16 {
  font-size: 1.1876em;
}

@media (max-width: 1199px) {
   .u-section-4 {
    min-height: 514px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 0;
    width: auto;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 720px;
  }

  .u-section-4 .u-list-1 {
    width: -40px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-right: -10px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-right: -10px;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-right: -10px;
  }

  .u-section-4 .u-text-4 {
    width: auto;
    margin-right: -10px;
  }

  .u-section-4 .u-text-5 {
    width: auto;
    margin-right: -10px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 720px;
  }

  .u-section-4 .u-container-layout-7 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-4 .u-text-6 {
    margin-top: 108px;
  }

  .u-section-4 .u-table-1 {
    width: 753px;
    margin-top: 63px;
  }

  .u-section-4 .u-btn-2 {
    margin-top: -353px;
  }

  .u-section-4 .u-btn-3 {
    margin-top: 80px;
  }

  .u-section-4 .u-btn-5 {
    margin-top: -193px;
  }

  .u-section-4 .u-btn-6 {
    margin-top: 165px;
  }

  .u-section-4 .u-btn-7 {
    margin-top: -265px;
  }

  .u-section-4 .u-btn-9 {
    margin-top: 23px;
  }

  .u-section-4 .u-btn-10 {
    margin-top: 16px;
    padding-left: 24px;
    padding-right: 24px;
  }

  .u-section-4 .u-btn-11 {
    margin-top: -329px;
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 723px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 1px;
    padding-right: 1px;
  }

  .u-section-4 .u-list-1 {
    margin-top: 32px;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 315px;
  }

  .u-section-4 .u-text-1 {
    font-size: 0.875rem;
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    font-size: 0.875rem;
    margin-right: 0;
  }

  .u-section-4 .u-text-3 {
    font-size: 0.875rem;
    margin-right: 0;
  }

  .u-section-4 .u-text-4 {
    font-size: 0.875rem;
    margin-right: 0;
  }

  .u-section-4 .u-text-5 {
    font-size: 0.875rem;
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 624px;
  }

  .u-section-4 .u-text-6 {
    width: auto;
    margin-top: 61px;
    margin-right: 464px;
  }

  .u-section-4 .u-table-1 {
    width: 588px;
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    min-height: 823px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-text-6 {
    margin-right: 440px;
    margin-left: 59px;
  }

  .u-section-4 .u-text-7 {
    margin-left: 58px;
  }

  .u-section-4 .u-table-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-6 {
    margin-right: 264px;
  }

  .u-section-4 .u-table-1 {
    width: 340px;
  }
}


*/