.u-section-5 {
  background-image: none;
  min-height: 694px;
}

.u-section-5 .u-group-1 {
  height: auto;
  min-height: 457px;
  width: 100%;
  margin: 0 0 60px;
}

.u-section-5 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-5 .u-group-2 {
  --radius: 46px;
  width: 800px;
  min-height: 397px;
  height: auto;
  box-shadow: 5px 5px 20px 0 rgba(66,84,101,0.4);
  margin: 177px auto -116px;
}

.u-section-5 .u-container-layout-2 {
  padding: 50px 30px 40px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  background-image: none;
  margin: 0 auto;
}

.u-section-5 .u-text-2 {
  margin: 20px auto 0;
}

.u-section-5 .u-form-1 {
  height: 254px;
  width: 570px;
  margin: 20px auto 0;
}

.u-section-5 .u-label-1 {
  font-size: 0.875rem;
}

.u-section-5 .u-btn-1 {
  width: 100%;
  background-image: none;
  padding: 10px 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-group-1 {
    height: auto;
  }

  .u-section-5 .u-group-2 {
    width: 744px;
    margin-top: 107px;
    margin-bottom: -172px;
    height: auto;
  }

  .u-section-5 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-5 .u-text-1 {
    margin-top: 49px;
  }

  .u-section-5 .u-form-1 {
    height: 290px;
    width: 556px;
    margin-top: 21px;
  }
}

@media (max-width: 991px) {
   .u-section-5 {
    min-height: 706px;
  }

  .u-section-5 .u-group-2 {
    width: 718px;
  }

  .u-section-5 .u-form-1 {
    width: -20px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-group-2 {
    width: 80px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
} .u-section-6 {
  background-image: none;
  min-height: 694px;
}

.u-section-6 .u-group-1 {
  height: auto;
  min-height: 457px;
  width: 100%;
  margin: 0 0 60px;
}

.u-section-6 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-6 .u-group-2 {
  --radius: 46px;
  width: 800px;
  min-height: 397px;
  height: auto;
  box-shadow: 5px 5px 20px 0 rgba(66,84,101,0.4);
  margin: 177px auto -116px;
}

.u-section-6 .u-container-layout-2 {
  padding: 50px 30px 40px;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  background-image: none;
  margin: 0 auto;
}

.u-section-6 .u-text-2 {
  margin: 47px 0 0;
}

.u-section-6 .u-btn-1 {
  background-image: none;
  border-style: solid;
  font-weight: 700;
  font-size: 1.125rem;
  margin: 30px auto 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-group-1 {
    height: auto;
  }

  .u-section-6 .u-group-2 {
    width: 744px;
    margin-top: 107px;
    margin-bottom: -172px;
    height: auto;
  }

  .u-section-6 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-6 .u-text-1 {
    margin-top: 49px;
  }
}

@media (max-width: 991px) {
   .u-section-6 {
    min-height: 706px;
  }

  .u-section-6 .u-group-2 {
    width: 718px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-group-2 {
    width: 80px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
} .u-section-7 {
  background-image: none;
  min-height: 694px;
}

.u-section-7 .u-group-1 {
  height: auto;
  min-height: 457px;
  width: 100%;
  margin: 0 0 60px;
}

.u-section-7 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-7 .u-group-2 {
  --radius: 46px;
  width: 800px;
  min-height: 397px;
  height: auto;
  box-shadow: 5px 5px 20px 0 rgba(66,84,101,0.4);
  margin: 177px auto -116px;
}

.u-section-7 .u-container-layout-2 {
  padding: 50px 30px 40px;
}

.u-section-7 .u-text-1 {
  font-weight: 700;
  background-image: none;
  margin: 0 auto;
}

.u-section-7 .u-text-2 {
  margin: 47px 0 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-group-1 {
    height: auto;
  }

  .u-section-7 .u-group-2 {
    width: 744px;
    margin-top: 107px;
    margin-bottom: -172px;
    height: auto;
  }

  .u-section-7 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-7 .u-text-1 {
    margin-top: 49px;
  }
}

@media (max-width: 991px) {
   .u-section-7 {
    min-height: 706px;
  }

  .u-section-7 .u-group-2 {
    width: 718px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-group-2 {
    width: 80px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
} .u-section-8 {
  background-image: none;
  min-height: 694px;
}

.u-section-8 .u-group-1 {
  min-height: 457px;
  width: 100%;
  margin: 0 0 60px;
}

.u-section-8 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-8 .u-group-2 {
  box-shadow: 5px 5px 20px 0 rgba(66,84,101,0.4);
  --radius: 46px;
  width: 744px;
  min-height: 453px;
  height: auto;
  margin: 107px auto -103px;
}

.u-section-8 .u-container-layout-2 {
  padding: 0 30px;
}

.u-section-8 .u-text-1 {
  background-image: none;
  font-weight: 700;
  margin: 49px auto 0;
}

.u-section-8 .u-text-2 {
  margin: 20px auto 0;
}

.u-section-8 .u-form-1 {
  height: 290px;
  width: 556px;
  margin: 21px auto 0;
}

.u-section-8 .u-label-1 {
  font-size: 0.875rem;
}

.u-section-8 .u-form-group-2 {
  margin-left: 0;
}

.u-section-8 .u-label-2 {
  font-size: 0.875rem;
}

.u-section-8 .u-btn-1 {
  background-image: none;
  width: 100%;
  padding: 10px 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-group-2 {
    height: auto;
  }
}

@media (max-width: 991px) {
   .u-section-8 {
    min-height: 706px;
  }

  .u-section-8 .u-group-2 {
    width: 718px;
  }

  .u-section-8 .u-form-1 {
    width: -20px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-group-2 {
    width: 80px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}